@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    text-align: center;
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: white;
}

img {
    width: 20%;
    height: 40%;
    border-radius: 50%;
}

hr {
    height: 6px;
    background-color: #FAFAFA;
    width: 200px;
    margin: 8px auto;
}

h1 {
    text-shadow: 2px 3px black;
}

h2 {
    text-shadow: 2px 3px black;
}

p {
    text-shadow: 2px 1px black;
}

h3 {
    text-shadow: 2px 1px black;
}

.menu {
    background: linear-gradient(90deg, rgba(0,249,244,1) 0%, rgba(125,255,114,1) 50%, rgba(255,255,97,1) 100%);
    text-align:center;
    text-decoration:none;
    list-style: none;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 370px;
    z-index: 10;
    color: white;
}

.link {
    float: left;
    color: white;
    padding-top: 5px;
    padding-left: -10px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 16px;
}

.link:hover {
    background: linear-gradient(90deg, rgba(164, 189, 241, 1) 0%, rgba(217, 104, 255, 1) 50%, rgba(237, 192, 221, 1) 100%);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color:white;
}

.section1 {
    background: linear-gradient(90deg, rgba(217, 255, 0, 1) 0%, rgba(133, 253, 29, 1) 50%, rgba(69, 252, 187, 1) 100%);
}

.section2 {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
}

#Favorite {
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(253, 155, 29, 1) 50%, rgba(252, 245, 69, 1) 100%);
}

#Videos {
    background: linear-gradient(90deg, rgba(255, 0, 140, 1) 0%, rgba(215, 29, 253, 1) 50%, rgba(69, 71, 252, 1) 100%);
}

#Inspiration {
    background: linear-gradient(90deg, rgba(255, 0, 140, 1) 0%, rgba(215, 29, 253, 1) 50%, rgba(69, 71, 252, 1) 100%);
}

html {
    scroll-behavior: smooth;
}

#Articles {
    background: linear-gradient(90deg, rgba(249, 0, 0, 1) 0%, rgba(255, 114, 234, 1) 50%, rgba(130, 97, 255, 1) 100%);
}
img{
    transition:transform .2s;
}
img:hover{
    transform:scale(0.9);
    border-color:darkblue;
    border-width:5px;
    border-style:dotted;
}
#Contact{
    background: linear-gradient(90deg, rgba(249,114,0,1) 0%, rgba(255,252,114,1) 50%, rgba(97,255,122,1) 100%);
}
a{
    text-decoration:none;
}
